<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Singidol</title>
  <head th:fragment="css">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
  </head>
  <head th:fragment="js">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFIBw8HfCJo="
            crossorigin="anonymous"
    ></script>
    <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
    <script src="https://kit.fontawesome.com/3502eb9f53.js" crossorigin="anonymous"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
  </head>
</head>
<body>
<nav th:fragment="navbar" class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand font-weight-bold" href="/">SINGIDOL</a>
  <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup"
          aria-expanded="false"
          aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <a class="nav-item nav-link text-white" th:classappend="${page} == 'konser' ? 'font-weight-bold':''" th:href="@{/konser}">
        Konser<span class="sr-only">(current)</span>
      </a>
      <a class="nav-item nav-link text-white" th:classappend="${page} == 'tiket' ? 'font-weight-bold':''" th:href="@{/tiket}">
        Tiket<span class="sr-only">(current)</span>
      </a>
      <a class="nav-item nav-link text-white" th:classappend="${page}== 'idol' ? 'font-weight-bold':''" th:href="@{/idol}">
        Idol<span class="sr-only">(current)</span>
      </a>
      <a class="nav-item nav-link text-white" th:classappend="${page}== 'bonus' ? 'font-weight-bold':''" th:href="@{/bonus}">
        Bonus<span class="sr-only">(current)</span>
      </a>
    </ul>
  </div>
</nav>
</body>
</html>