<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <title>Singidol - Add Konser</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar(page = ${'idol'})"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>Tambah Idol</h2>
                <br>
                <form th:action="@{/idol/tambah}" th:object="${idol}" method="POST">
                    Nama Idol: <br>
                    <input required class="form-control" type="text" th:field="*{namaIdol}"/>
                    <br><br>

                    Asal Negara: <br>
                    <input required class="form-control" type="text" th:field="*{asalNegara}"/>
                    <br><br>

                    Jumlah Anggota: <br>
                    <input required class="form-control" type="number" th:field="*{jumlahAnggota}"/>
                    <br><br>

                    Tanggal Debut: <br>
                    <input required class="form-control" type="date" th:field="*{tanggalDebut}"/>
                    <br><br>

                    <button class="btn btn-primary" type="submit" name="save">Simpan</button>
                    <a class="btn btn-danger" href="/">Batal</a>
                </form>
            </div>
        </div>
    </div>
</div>

</body>
</html>